<div class="container-fluid">
    <div class="row login">
      <div class="col-4 content-card">
        <div class="alert alert-info">
            <strong>User</strong>: Usuario: user123 | Contraseña: user123<br/>
            <strong>Admin</strong>: Usuario: admin123 | Contraseña: admin123
        </div>
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Iniciar sesión</mat-card-title>
              <mat-card-subtitle>Ingrese su usuario y contraseña</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput name="username" formControlName="userCtrl" placeholder="Usuario" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput placeholder="Contraseña" [type]="isHidePass ? 'password' : 'text'" formControlName="passCtrl" required>
                            <mat-icon matSuffix (click)="isHidePass = !isHidePass" class="visibility">{{isHidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <button name="submit" [disabled]="!loginForm.valid" mat-raised-button type="submit" class="btn btn-primary pull-right">Ingresar</button>
                    </div>
                </div>          
              </form>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>        
    </div>
</div>
