<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Perfil de usuario</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-section-title title="Datos personales"></app-section-title>
        <p>
            <strong>Nombre:</strong> {{user.firstName}}
        </p>
        <p>
            <strong>Apellido:</strong> {{user.lastName}}
        </p>
        <p>
            <strong>Edad:</strong> {{user.age}} años
        </p>
        <app-section-title title="Perfil"></app-section-title>
        <p>
            <strong>Rol:</strong> {{user.role}}
        </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  