<header class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/auth/welcome">Test SPA</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth/profile']">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/users']" *ngIf="isAdmin">Usuarios</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-0">
    <li class="nav-item">
        <a class="nav-link logout" (click)="logout()">Salir</a>
        </li>    
    </ul>
</header>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
