/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

.mat-card-header-text {
    width: 100%;
    text-align: center;
}

body.swal2-shown.swal2-height-auto { 
    height: inherit !important;
}